/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

.work-form-comments {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}